
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0d1117; /* Fundo escuro do GitHub */
  background-image: radial-gradient(#1f2937 1px, transparent 1px);
  background-size: 20px 20px;
}